body {
	background-image: url(../images/stonehaven.png)
}

.header {
	background-color: orange;
	width: 33%;
	height: auto;
	margin-left: 10px;
}


.instructions {
	background-color: yellow;
	width: 33%;
	height: auto;
	margin-left: 10px;
}

.instructions p {
	color: green;
	font-size: 20px;
}

.gameflow {
	width: 400px;

}

#score, .scoreboard {
	height: 150px;
	width: 150px;
	background-color: green;
	margin-left: 10px;
	float: left;
	
}

#score {
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 40px;
}



.scoreboard {
	background-color: turquoise;
	font-size: 20px;


}

.crystals {
	width: auto;
	height: auto;
	margin-left: 10px;
	clear: both;
}

img {
	width: 150px;
	height: 150px;
	clear: both;
	margin-top: 10px;
}


#player-heading {
	background-color: blue;
	width: 33%;
	height: auto;
	margin: 10px;
	color: white;
	font-size: 20px;
	
	}

#players-score {
	background-color: blue;
	width: 33%;
	height: 75px;
	margin: 10px;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 15px;

}




